{% extends "base.html" %}
{% block title %}
    Register
{% endblock %}
{% block content %}
	<form action="{% url 'register_user' %}" method="post">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Username"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="text" name="first_name" placeholder="First name"></p>
        <p><input type="text" name="last_name" placeholder="Last name"></p>
        <p><input type="email" name="email" placeholder="Email"></p>
        <input type="submit" value="Register">
    </form>
{% endblock %}